In [1]:
import pandas as pd
import numpy as np

In [2]:
with open('input') as file:
    points, instructions = file.read().split('\n\n')

In [3]:
with open('sample_input') as file:
    sample_points, sample_folds = file.read().split('\n\n')

In [4]:
df = pd.DataFrame('.', index=np.arange(0, 447*2 + 1), columns=np.arange(0, 655*2 + 1))
sample_df = pd.DataFrame('.', index=np.arange(0, 7*2 + 1), columns=np.arange(0, 5*2 + 1))

In [5]:
# Adding a NaN in each specified location
for point in sample_points.splitlines():
    column, row = [int(i) for i in point.split(',')]
    sample_df[column][row] = np.nan

In [6]:
def fold_horizontal(dataframe: pd.DataFrame, line: int) -> pd.DataFrame:

    '''
    Computes an original DataFrame and returns a target DataFrame. 
    target is original folded horizontally.
    '''

    df_up = dataframe[:line]
    # reversing the down half and reseting index so they can be added.
    df_down = dataframe[line*2:line:-1].reset_index(drop=True)

    return df_up + df_down

In [7]:
def fold_vertical(dataframe: pd.DataFrame, line: int) -> pd.DataFrame:

    '''
    Computes an original DataFrame and returns a target DataFrame. 
    target is original folded vertically.

    
    '''

    left = dataframe.loc[:,0:line-1]
    right = dataframe.loc[:,line*2:line+1:-1]
    right.columns = [i for i in range(0,line)]

    return left + right

In [8]:
def count_na(dataframe: pd.DataFrame) -> int:
    '''
    Compute a dataframe and return the number of NaN in the dataframe.
    '''
    
    return dataframe.isna().sum().sum()

In [9]:
first_fold_sample = fold_horizontal(sample_df, 7)

In [10]:
count_na(first_fold_sample)

17

In [11]:
# Adding a NaN in each specified location
for point in points.splitlines():
    column, row = [int(i) for i in point.split(',')]
    df[column][row] = np.nan

In [12]:
first_fold = fold_vertical(df, 655)

In [13]:
print('answer part 1:', count_na(first_fold))

answer part 1: 675

In [20]:
for instruction in instructions.splitlines():

    axis, line = instruction.split(' ')[2].split('=')

    if axis == 'x': 
        df = fold_vertical(df, int(line))
    elif axis == 'y':
        df = fold_horizontal(df, int(line))

In [23]:
df

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,NaN,.................................................,.................................................,NaN,.................................................,NaN,NaN,NaN,NaN,.................................................,...,.................................................,.................................................,NaN,NaN,.................................................,NaN,NaN,NaN,NaN,.................................................
1,NaN,.................................................,.................................................,NaN,.................................................,.................................................,.................................................,.................................................,NaN,.................................................,...,.................................................,.................................................,.................................................,NaN,.................................................,.................................................,.................................................,.................................................,NaN,.................................................
2,NaN,NaN,NaN,NaN,.................................................,.................................................,.................................................,NaN,.................................................,.................................................,...,.................................................,.................................................,.................................................,NaN,.................................................,.................................................,.................................................,NaN,.................................................,.................................................
3,NaN,.................................................,.................................................,NaN,.................................................,.................................................,NaN,.................................................,.................................................,.................................................,...,.................................................,.................................................,.................................................,NaN,.................................................,.................................................,NaN,.................................................,.................................................,.................................................
4,NaN,.................................................,.................................................,NaN,.................................................,NaN,.................................................,.................................................,.................................................,.................................................,...,NaN,.................................................,.................................................,NaN,.................................................,NaN,.................................................,.................................................,.................................................,.................................................
5,NaN,.................................................,.................................................,NaN,.................................................,NaN,NaN,NaN,NaN,.................................................,...,.................................................,NaN,NaN,.................................................,.................................................,NaN,NaN,NaN,NaN,.................................................

In [25]:
df.to_clipboard()

In [33]:
df.isna()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,True,False,False,True,False,True,True,True,True,False,...,False,False,True,True,False,True,True,True,True,False
1,True,False,False,True,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
2,True,True,True,True,False,False,False,True,False,False,...,False,False,False,True,False,False,False,True,False,False
3,True,False,False,True,False,False,True,False,False,False,...,False,False,False,True,False,False,True,False,False,False
4,True,False,False,True,False,True,False,False,False,False,...,True,False,False,True,False,True,False,False,False,False
5,True,False,False,True,False,True,True,True,True,False,...,False,True,True,False,False,True,True,True,True,False

In [38]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df.isna())

     0      1      2     3      4      5      6      7      8      9     10  \
0  True  False  False  True  False   True   True   True   True  False  True
1  True  False  False  True  False  False  False  False   True  False  True
2  True   True   True  True  False  False  False   True  False  False  True
3  True  False  False  True  False  False   True  False  False  False  True
4  True  False  False  True  False   True  False  False  False  False  True
5  True  False  False  True  False   True   True   True   True  False  True

      11     12     13     14    15     16     17    18     19    20     21  \
0  False  False   True  False  True  False  False  True  False  True   True
1  False   True  False  False  True  False  False  True  False  True  False
2   True  False  False  False  True   True   True  True  False  True   True
3  False   True  False  False  True  False  False  True  False  True  False
4  False   True  False  False  True  False  False  True  False  True  False
5  False  False   True  False  True  False  False  True  False  True  False

      22     23     24    25     26     27     28     29     30     31     32  \
0   True   True  False  True   True   True   True  False  False  False   True
1  False  False  False  True  False  False  False  False  False  False  False
2   True  False  False  True   True   True  False  False  False  False  False
3  False  False  False  True  False  False  False  False  False  False  False
4  False  False  False  True  False  False  False  False   True  False  False
5  False  False  False  True   True   True   True  False  False   True   True

      33     34     35     36     37     38     39
0   True  False   True   True   True   True  False
1   True  False  False  False  False   True  False
2   True  False  False  False   True  False  False
3   True  False  False   True  False  False  False
4   True  False   True  False  False  False  False
5  False  False   True   True   True   True  False

In [40]:
df.isna().to_csv('output_2', index=False)